version: '3.4'

services:

#  highcharts:
#    container_name: highcharts
#    hostname: highcharts
#    image: onsdigital/highcharts-export-node
#    networks:
#      - main
#    ports:
#    - "8889:8889"
#    restart: on-failure

  rabbitmq:
    container_name: rabbitmq
    hostname: rabbitmq
    image: rabbitmq:latest
    networks:
      - main
    ports:
    - "5672:5672"
    restart: on-failure

  redis:
    container_name: redis
    hostname: redis
    image: redis
    networks:
      - main
    ports:
    - "6379:6379"
    volumes:
    - redis:/data
    restart: on-failure

  postgres:
    container_name: postgres
    hostname: postgres
    image: postgres:latest
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=postgres
    networks:
      - main
    ports:
    - "5432:5432"
    restart: on-failure
    volumes:
    - postgres-data:/var/lib/postgresql/data

networks:
  main:

volumes:
  postgres-data:
  redis:
